h1 {
    border-style: dotted;
    border-width: 5px;
    border-color: white;
    display: inline;
}
body{ 
    background-color: saddlebrown;
}
header {
    border-width: 5px;
    background-color: rgb(220, 237, 250);
    padding: 3%;
}
.square {
    height: 3.5em;
    width: 3.5em;
}
.game-column {
    display: inline-block;
}
.game {
    background-image: url("https://i.ytimg.com/vi/Sv8HPkt-RaY/maxresdefault.jpg");
    height: 50em;
}
.title{
    margin-top: 20%;
    margin-left: 20%;
    width: 0%
}
.score{
    margin-top: 20%;
    margin-left: 30%;
}
#bird {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://vignette.wikia.nocookie.net/puffleville/images/2/26/Yellow_Bird_Sprite.png/revision/latest?cb=20120504215330");
}
.dodge-bar {
    background-image: url("../img/crate.jpg");
    background-size: 100%;
}
#start-game {
    margin: 20% 45% 45% 45%;
    width: 10%;
    height: 10%;
}
/* .bottom {
    background-image: url("https://2.bp.blogspot.com/-kRgt7pesruQ/WXTRsQagGaI/AAAAAAAABJ8/VmTvSexjU-wtL-jro4Lh7Jj1FVD055vQQCLcBGAs/s1600/ground.png");
    background-size: 100%;
    height: 10em;
    width: 100%;

} */
.coin{
    background-image: url("../img/coin.png");
    background-size: 100%;
}





