h1 {
    border-style: dotted;
    border-width: 5px;
    border-color: white;
    display: inline;
} 

header {
    padding: 3%;
}
.square {
    height: 3.5em;
    width: 3.5em;
}
.game-column {
    display: inline-block;
}
body {
    background: linear-gradient(rgb(170, 230, 255), rgb(108, 218, 255) 87%, rgb(53, 133, 53) 88%, rgb(117, 54, 3) 93%)  no-repeat center fixed; 
    background-size: cover;
    /* size: contain; */
}
.game {
    top: 40.75px;
    bottom: 0px;
}
.board {
    bottom: 12%;
    width: 100%;
    border-style: dashed;
}
.title{
    margin-top: 20%;
    margin-left: 20%;
    width: 0%
}
.score{
    margin-top: 20%;
    margin-left: 30%;
    background-size: 100%;
}
#bird {
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://vignette.wikia.nocookie.net/puffleville/images/2/26/Yellow_Bird_Sprite.png/revision/latest?cb=20120504215330");
}
.box {
    background-image: url("../img/crate.jpg");
    background-size: 100%;
}
button {
    margin: 20% 45% 45% 45%;
    width: 10%;
    height: 10%;
}
.game-over {
    margin-left: 42.5%;
}
.coin{
    background-image: url("../img/up-arrow.gif");
    background-size: 100%;
}
.sparkle {
    background-image: url('../img/sparkle.gif');
    background-size: 100%;

}
.missle {
    background-image: url('../img/bullet.png');
    background-size: 100%;
    background-repeat: no-repeat;
}





